body {
  margin: 0;
  padding: 0;
}

.app-header {
  height: 60px;
  background-color: black;
  width: 100%;
}

.app-wrapper {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: stretch;
  min-height: 1000px;
  height: 100%;

  .app-nav {
    width: 100px;
    background-color: blue;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: stretch;

    .nav-item {
      height: 60px;
      background-color: coral;
      cursor: pointer;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;

      &.active-nav {
        background-color: red;
      }

      &:hover {
        background-color: yellow;
      }

    }

  }

  .main-content {
    flex: 1;
    background-color: gray;

    .screen {
      margin: 10px;
    }
  }
}
