;; Analyzed by ClojureScript 0.0-3308
{:use-macros nil, :excludes #{}, :name helloworld.title, :imports nil, :requires {cljs.core.async cljs.core.async}, :uses {put! cljs.core.async}, :defs {items-list {:protocol-inline nil, :meta {:file "/Users/AlwaysBCoding/Desktop/Always Be Coding/clojurescript/helloworld/src/helloworld/title.cljs", :line 4, :column 7, :end-line 4, :end-column 17, :arglists (quote ([EVENTCHANNEL items active-item]))}, :name helloworld.title/items-list, :variadic false, :file "src/helloworld/title.cljs", :end-column 17, :method-params ([EVENTCHANNEL items active-item]), :protocol-impl nil, :arglists-meta (nil nil), :column 1, :line 4, :end-line 4, :max-fixed-arity 3, :fn-var true, :arglists (quote ([EVENTCHANNEL items active-item]))}}, :require-macros nil, :cljs.analyzer/constants {:seen #{:update-active-item :key :on-click :div :class :display :active-item :p}, :order [:div :class :p :on-click :update-active-item :active-item :display :key]}, :doc nil}