<style>
  .sales-report {
    height: 500px;
  }
</style>

<div id="wrapper">

  <h1>THIS IS THE SALES REPORT</h1>

  <%= image_tag "sales-report.png", class: "sales-report" %>

  <div id="footer-javascripts">
    <script type="text/javascript">
    </script>
  </div>

</div>
